<div class="container">
<div class="set_center_outer">
   <h2>Reviews</h2>
   <br>
 </div>
 </div>
<%= form_with model: @review , url: reviews_create_path do |f| %>
   
  <%= f.label :review_comment, 'レビューコメント内容*' %>
  <%= f.text_area :review_comment, size: '5x10', class: 'form-control' %>
  
  <div class="field" id="star">
  <%= f.label :star, "星評価：" %>
  <%= f.hidden_field :star, id: :review_star %>
  <script>
    console.log("raty")
   const opt =({
      size     : 36,
      starOff:  '<%=  "/images/star-off.png"  %>',
      starOn : '<%=  "/images/star-on.png"  %>',
      scoreName: 'review[star]',   // evaluationカラムへの保存
    });
    raty(document.querySelector("#star"),opt)
  </script>
</div>
  
  <p></p>
 <%= f.submit "送信", class: "btn btn-primary"%>
  <% end %>
  